body {
    background: rgb(216, 206, 206);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

.up {
    display: flex;
    gap: 55%;
    margin-left: 16%;
    margin-bottom: 5px;
}

h1 {
    text-align: left;
    font-size: 18px;
}

button {
    border: none;
    background: rgba(146, 146, 146, 0.295);
    border-radius: 10px;
    width: 11%;
    padding: 15px 12px;
    font-size: 17px;
}

.cipher {
    display: flex;
    justify-content: center;
    margin-left: 15%;
    border-radius: 15px;
    gap: 20px;
    background: white;
    width: 70%;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.322);
}

textarea {
    border: none;
    width: 50%;
    background: rgba(226, 226, 226, 0.312);
    padding-top: 8px;
    padding-left: 10px;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.203);
}
  
.result {
    width: 50%;
    background: rgba(244, 178, 249, 0.747);
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    color: rgb(103, 31, 92);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.203);
}

/*адаптация 1024*/

@media (max-width: 1025px) {
    .up {
        gap: 42%;
    }

    button {
        width: 16%;
    }
}

/*Aдаптация 768pxpx*/

@media (max-width: 769px) {
    .up {
        gap: 40%;
    }

    h1 {
        font-size: 14px;
    }
    
    button {
        width: 18%;
        padding: 10px 10px;
        font-size: 14px;
    }

    textarea {
        font-size: 17px;
    }
      
    .result {
        font-size: 17px;
    }
}

/*Aдаптация 442pxpx*/

@media (max-width: 443px) {
    .up {
        gap: 17%;
    }

    h1 {
        font-size: 12px;
    }
    
    button {
        width: 28%;
        font-size: 12px;
    }

    textarea {
        font-size: 14px;
    }
      
    .result {
        font-size: 14px;
    }
}